body {
  box-sizing: border-box;
  font-size: 16px;
  /*CONTENIDO*/ }
  body .navbar-superior {
    margin-left: 18%;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 40px;
    margin-top: -23px;
    width: 82%; }
    body .navbar-superior .navbar-toggler {
      border: transparent; }
      body .navbar-superior .navbar-toggler .navbar-toggler-icon {
        background-image: url(../../img/menu-icon.png); }
    body .navbar-superior a {
      color: #b3b3b3;
      font-weight: 800; }
    body .navbar-superior a:hover {
      color: #fff;
      font-size: 16.5px; }
    body .navbar-superior .vr {
      color: #b3b3b3;
      margin: 0% 5%; }
    body .navbar-superior .navbar-brand {
      font-size: 20px;
      gap: 40px; }
    body .navbar-superior .boton {
      width: 230px; }
      body .navbar-superior .boton a {
        background: white;
        color: black;
        padding: 9%;
        text-align: center;
        border-radius: 500px;
        font-weight: 700; }
  body .top {
    margin-top: 0%; }
  body .contenido {
    margin: 0% 0% 0% 21%;
    width: 75%; }
    body .contenido .row {
      gap: 40px; }
      body .contenido .row .categoria li {
        list-style: none;
        font-size: 22px;
        font-weight: 800;
        color: #fff;
        margin-top: 6%; }
        body .contenido .row .categoria li a {
          color: #b3b3b3;
          font-size: 14px; }
      body .contenido .row .tarjeta {
        font-size: 0.875rem;
        padding: 22px;
        background: #181818;
        border-radius: 7px;
        color: #b3b3b3;
        max-height: 45vh;
        width: 200px; }
        body .contenido .row .tarjeta h4 {
          font-size: 16px;
          color: #fff;
          font-weight: 700; }
        body .contenido .row .tarjeta .texto {
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          white-space: normal;
          color: #b3b3b3; }
        body .contenido .row .tarjeta img {
          border-radius: 2%;
          -webkit-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
          box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
          position: relative; }
        body .contenido .row .tarjeta .logo-reproducir {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          top: 142px;
          right: 22px;
          opacity: 0; }
          body .contenido .row .tarjeta .logo-reproducir img {
            width: 23%; }
        body .contenido .row .tarjeta .logo-reproducir:hover {
          opacity: 100;
          transition: all 1s ease;
          top: 102px; }
      body .contenido .row .tarjeta:hover {
        background-color: #282828;
        transition: all 25ms; }

/*INTERIOR*/
.contenido-interior {
  margin: 0% 0% 0% 18%;
  width: 82%; }
  .contenido-interior .primera-seccion {
    padding: 4%;
    background-color: #90a8c0;
    background-image: linear-gradient(0deg, rgba(18, 18, 18, 0.5), transparent 80%);
    box-shadow: 14px 70px 334px 0px #90a8c0ba; }
    .contenido-interior .primera-seccion .imagen img {
      -webkit-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5); }
    .contenido-interior .primera-seccion .informacion {
      color: #fff; }
      .contenido-interior .primera-seccion .informacion h1 {
        font-size: 5rem;
        font-weight: 700; }
      .contenido-interior .primera-seccion .informacion .texto {
        color: #b3b3b3; }
      .contenido-interior .primera-seccion .informacion .detalles-portada .duracion {
        color: #b3b3b3; }
      .contenido-interior .primera-seccion .informacion .detalles-portada img {
        width: 2%; }
  .contenido-interior .detalles {
    padding: 1% 4%;
    color: #b3b3b3; }
    .contenido-interior .detalles .icons {
      color: #fff; }
      .contenido-interior .detalles .icons .logo {
        width: 6%; }
      .contenido-interior .detalles .icons .logo:hover {
        width: 7%;
        transition: all ease 10ms; }
      .contenido-interior .detalles .icons .fa-heart {
        font-size: 38px; }
      .contenido-interior .detalles .icons .fa-heart:hover {
        color: #FF4848; }
      .contenido-interior .detalles .icons .dropdown .dropdown-toggle {
        font-size: 40px;
        color: #fff; }
      .contenido-interior .detalles .icons .dropdown .dropdown-toggle::after {
        opacity: 0; }
      .contenido-interior .detalles .icons .dropdown .dropdown-menu {
        background-color: #282828; }
        .contenido-interior .detalles .icons .dropdown .dropdown-menu a {
          color: #fff; }
        .contenido-interior .detalles .icons .dropdown .dropdown-menu a:hover {
          background-color: #282828; }
  .contenido-interior .borde {
    position: sticky;
    z-index: 2;
    /*background: #0c0c0c;*/
    top: 106px; }
  .contenido-interior .borde::after {
    border-bottom: 1px solid #84848478;
    content: '';
    width: 100%;
    margin: 1% 2% 0 2%; }

.contenedor-canciones {
  margin-left: 3%;
  width: 94%;
  color: #b3b3b3; }
  .contenedor-canciones .img {
    width: 15%; }
  .contenedor-canciones a {
    color: #b3b3b3;
    text-decoration: none; }
  .contenedor-canciones .reproducir {
    position: absolute;
    left: 30px;
    font-size: 22px;
    top: -4px;
    opacity: 0; }
  .contenedor-canciones .reproducir:hover {
    opacity: 100; }
  .contenedor-canciones .numero {
    margin-right: 22%; }
  .contenedor-canciones .numero:hover {
    opacity: 0; }

@media only screen and (max-width: 778px) {
  .contenido {
    margin: -41% 0% 0% 0%;
    width: 100%; }

  .contenido-interior {
    margin: -41% 0% 0% 0%;
    width: 100%; }
    .contenido-interior .detalles .fecha {
      opacity: 0; }
    .contenido-interior .primera-seccion {
      display: block; }
      .contenido-interior .primera-seccion .imagen {
        width: 39%; }
    .contenido-interior .detalles {
      padding: 1% 0%; }
    .contenido-interior .contenedor-canciones {
      margin-left: 0%;
      width: 100%; }
      .contenido-interior .contenedor-canciones .cancion {
        flex-direction: column; }
        .contenido-interior .contenedor-canciones .cancion .img {
          width: 75%; } }

/*# sourceMappingURL=modulo-musica.css.map */
